/* ===== fotn family ===== */
@font-face {
   font-family: ubuntu;
   src: url(./aseets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

/* ===== webiste color ===== */
:root {
   --primary-color: #1363C6;
   --secondary-color: #15ACE1;
   --light-color: #F4F7FE;
   --dark-color: #14183E;
   --light-white: #dee2e6;

}

/* ======= navbar section ======= */
header {
   background-image: url(./aseets/imgaes/hero_banner.png) !important;
   background-position: center !important;
   background-size: cover !important;
   background-color: var(--primary-color) !important;
   /* height: 90vh; */
}

.navbar-brand h1 {
   color: var(--light-color) !important;
   font-weight: 700 !important;
   font-family: ubuntu !important;
}

.navbar-brand h1 span {
   font-size: 50px !important;
}

.navbar-nav .nav-link {
   margin-right: 35px !important;
   padding: 0px !important;
   color: rgba(255, 255, 255, .7) !important;
   font-size: 16px !important;
   font-family: ubuntu !important;
}

.navbar_icons .fa-magnifying-glass {
   color: var(--light-color) !important;
}

.navbar {
   position: sticky !important;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1020;
   background-color: var(--primary-color) !important;
   transition: 0.5s !important;
   padding: 20px 0;
}


/* ======= hero sectio ======= */
.hero_div {
   padding-top: 130px !important;
}

.hero_btn span {
   color: var(--light-color) !important;
   border: 1px solid var(--light-color) !important;
   border-radius: 30px !important;
   padding: 5px 18px !important;
   text-align: center !important;
   font-family: ubuntu !important;
}

.hero_heading {
   padding-top: 15px !important;
}

.hero_heading h1 {
   font-size: 4rem !important;
   color: var(--light-color) !important;
   font-family: ubuntu !important;
   font-weight: 700 !important;
}

.hero_paragraph {
   color: var(--light-color) !important;
   font-family: ubuntu !important;
   padding-top: 10px !important;
   font-weight: 400 !important;
   font-size: 17px !important;
}

.btn_section {
   padding-top: 20px !important;
}

.btn_section .button_1 {
   border-radius: 40px !important;
   padding: 20px 40px !important;
   background-color: var(--light-color) !important;
   color: var(--dark-color) !important;
   font-family: ubuntu !important;
}

.btn_section .button_2 {
   border: 1px solid var(--light-color) !important;
   border-radius: 40px !important;
   padding: 20px 40px !important;
   color: var(--light-color) !important;
   margin-left: 10px !important;
   font-family: ubuntu !important;
}

.hero_images img {
   padding-top: 19px !important;
   max-width: 100% !important;
   height: auto !important;
}

.navbar-toggler {
   box-shadow: var(--light-color) !important;
}

.navbar-toggler-icon {
   color: var(--light-color) !important;
}

/* ====== about section ======== */
.about_wrapper {
   padding-top: 5rem !important;
}

.about_images {
   position: relative;
   /* Parent element ko positioned karo */
}

.about_images::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: url(./aseets/imgaes/bg-about-img.png) top left no-repeat !important;
   background-size: contain !important;
   /* z-index: 1 !important; */
}

.about_section_content {
   padding-top: 7rem !important;
   padding-left: 2rem !important;
}


.about_name_section span {
   border: 1px solid var(--light-white) !important;
   border-radius: 50rem !important;
   padding: 5px !important;
   padding-right: 1rem !important;
   padding-left: 1rem !important;
   color: var(--primary-color) !important;
   font-size: 1rem;

}

.about_heading {
   margin-top: 20px !important;

}

.about_heading h1 {
   font-family: ubuntu !important;
   line-height: 1.2 !important;
   color: #14183e !important;
   font-weight: 900 !important;
}

.about_parapragh {
   margin-top: 1rem !important;

}

.about_parapragh p {
   font-size: 17px !important;
}

.about_icon {
   margin-top: 10px !important;
}

.about_icon .fa-check {
   color: var(--primary-color) !important;
   font-weight: 700 !important;
   font-size: 15px !important;
}

.icon_name {
   margin-left: 8px !important;
}

.icon_name {
   font-size: 1rem !important;
   font-family: ubuntu !important;
   color: var(--dark-color) !important;
   font-weight: 500 !important;
}

.socail_media_icon {
   padding-top: 15px !important;
}
.btn {
   background-color: var(--primary-color) !important;
   font-size: 17px !important;
   font-weight: 500 !important;
}
.btn:hover{
   color: #fff !important;
   background-color: #1054a8 !important;
   border-color: #0f4f9e !important;
}

.fa-brands {
   margin: 5px !important;
   color: var(--primary-color) !important;
   border: 1px solid var(--primary-color) !important;
   padding: 10px  12px !important;
   border-radius: 100% !important;

}